@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --primary-beaver: #9e7f66;
  --primary-cod-gray: #111111;
  --secondary-mirage: #17192b;
  --secondary-ebony-clay: #242b37;
  --secondary-shuttle-gray: #5c6779;
  --font-league-spartan: var(--font-league-spartan);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.text-heading-xl {
  @apply text-[80px] leading-[80px] font-light tracking-[-1px];
}

.text-heading-lg {
  @apply text-[48px] leading-[48px] font-bold tracking-[-0.5px];
}

.text-heading-md {
  @apply text-[20px] leading-[24px] font-bold tracking-[-0.25px];
}

.text-heading-sm {
  @apply text-[17px] leading-[28px] font-semibold tracking-[2.5px];
}

.text-body-primary {
  @apply text-[20px] leading-[30px];
}

.text-body-secondary {
  @apply text-[16px] leading-[26px];
}

.button-primary {
  @apply w-[245px] h-[64px]
}

.text-button-primary {
  @apply text-[17px] leading-[16px] font-semibold tracking-[2.5px] uppercase;
}

.text-footer {
  @apply text-[14px] leading-[28px] tracking-[2px] text-white uppercase
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
